/* Setting border color 

Set border colors the same way you set most colors in CSS, using:

hex codes

RGB or RGBA values

color names

hsl values
*/

p {
    border-top-color: #16DB93;
    border-bottom-color: #A4036F;
    border-left-color: #EFEA5A;
    border-right-color: #FE5E41;
}