* {
    font-family: Futura;
}

article {
    background-color: #c1e0f4;
    padding: 10px;
}

img {
    width: 200px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

#clear {
    clear: both;
}

/* The  clear  property can have a value of  left ,  right , or  both  
(meaning it will clear floated elements to the left, right, or either direction; 
"both" is probably what you'll see most often because it covers all cases)
*/